<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guesthouse Weather Forecast</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>ClimaHost</h1>
    </header>
    
    <div class="container">
        <div>
            <label for="guesthouseSelect">Select Guesthouse</label>
            <select id="guesthouseSelect">
                <option value="">Select a Guesthouse</option>
            </select>
        </div>
        
        <div>
            <label for="date">Select Date</label>
            <input type="date" id="date" name="date">
        </div>
        
        <button onclick="submitFormData()">Get Weather</button>

        <div id="weatherData">
        </div>

        <div id="alternativeDates">
            <h3>Alternative Dates:</h3>
        </div>


        <div id="suggestedGuesthouses">
            <h3>Suggested Guesthouses:</h3>
        </div>
    </div>

    <input type="hidden" id="guesthouseId" name="guesthouseId" value="">

    <script src="/static/script.js"></script>
</body>
</html>
